<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YatJobs.com</title>

    <style>
        html, body {
            padding: 0;margin: 0;
        }

        body {
            min-height: 100vh;
            background-image: url(/assets/img/bg.jpg);
            background-size: cover;
            background-position: left bottom;
        }

        .container {
            width: 100vw;
            height: 100vh;
            display: grid;
            place-content: center;
            color: aliceblue;
            font-family: Arial, Helvetica, sans-serif;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>
            Welcome to Yatjobs API
        </h1>
    </div>
</body>
</html>